.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Roboto Slab', serif;
  background-color:antiquewhite;
}
.title{
  font-size: 30px;
  padding: 10px;
}
.app-container{
  position: fixed;
  background-color: burlywood;
  height: 90%;
  width: 35%;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  border: 10px solid rgba(0, 0, 0, 0.205);
}
.tasks-container{
  margin-bottom: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
}
.task{
  font-size: 20px;
  display: flex;
  background-color: rgb(194, 160, 117);
  border-radius: 10px;
  width: 50%;
  margin: 5px;
  cursor: pointer;
}
.task p{
  text-overflow: ellipsis;
  overflow: hidden;
}
.task:hover{
  background-color: rgb(168, 139, 101);
}
.completed{
  text-decoration: line-through;
  background-color: rgb(168, 139, 101);
}
input[type='radio'] {
  accent-color: rgb(168, 139, 101);
}
.input{
  padding: 10px;
}
.trash{
  position: absolute;
  left: 5%;
  bottom: 90%;
  color: rgb(168, 139, 101);
  cursor: pointer;
}
.trash:hover{
  color: rgb(94, 77, 56);
}
.task input{
  border-radius: 50px;
}
.input input{
  font-size: 40px;
  background-color: rgb(194, 160, 117) ;
  border: 3px solid rgba(0, 0, 0, 0.205);
  border-radius: 10px;
  font-family: 'Roboto Slab', serif;
  width: 80%;
}
textarea:focus, input:focus{
  outline: none;
}
